<div class="container">
    <div class="row">
        <div class="col-md-12" role="main">
            <ol class="features">
                <li>
                    <i class="fa fa-trophy fa-5x"></i>
                    <section class="interest">
                        <h3>{{ 'first_explanation_title' | translate }}</h3>
                        <p>{{ 'home_play_with_whom' | translate }}</p>
                        <p><italic><strong>{{ 'brand_site' | translate }}</strong></italic>, {{ 'home_our_solution' | translate }}</p>
                        <p>{{ 'home_free_solution' | translate }}</p>
                        <p>{{ 'home_still_dev' | translate }}<a ui-sref="contact">{{ 'about_link_here' | translate }}</a>.</p>
                    </section>
                </li>
                <li>
                    <i class="fa fa-magic fa-5x"></i>
                    <section class="interest">
                        <h3>{{ 'third_explanation_title' | translate }}</h3>
                        <p>{{ 'about_create_a_party' | translate }}</p>
                    </section>
                </li>
                <li>
                    <i class="fa fa-thumbs-o-up fa-5x"></i>
                    <section class="interest">
                        <h3>{{ 'second_explanation_title' | translate }}</h3>
                        <p>{{ 'home_please_register' | translate }}</p>
                        <p>{{ 'home_spread_the_word' | translate }}</p>
                    </section>
                </li>
            </ol>
        </div>
    </div>
    <br/>
    <br/>
    <div class="row center-block">
        <div class="col-md-12">
            <a ui-sref="register" class="btn btn-success">{{ 'home_signeup' | translate }}</a>
        </div>
    </div>
</div>
