<h1> Contact Us !</h1>
<h3>You have any question ? You have some nice idea you would like us to implement ? Please fill that form, we will be more than happy to get some feedbacks.</h3>

<div class="row jumbotron">
    <form class="form-horizontal" name="form" role="form">
        <div class="form-group" ng-class="{ 'has-error' : form.email.$invalid && form.email.$dirty, 'has-success' : form.email.$valid }">
            <label for="email">Email address:</label>
            <input name="email" type="email" class="form-control" id="email" placeholder="Enter email" ng-model="message.email" required>
        </div>
        <div class="form-group" ng-class="{ 'has-error' : form.title.$invalid && form.title.$dirty, 'has-success' : form.title.$valid }">
            <label for="title">Title:</label>
            <input name="title" type="text" class="form-control" id="title" placeholder="Give it a title" ng-model="message.title" required>
        </div>
        <div class="form-group" ng-class="{ 'has-error' : form.body.$invalid && form.body.$dirty, 'has-success' : form.body.$valid }">
            <label for="body">Your message:</label>
            <textarea class="form-control" id="body" ng-model="message.body" placeholder="Compose your message here..." name="body" rows="10" cols="50" required></textarea>
        </div>
        <button class="btn btn-default" ng-click="contact(message)"
        ng-disabled="form.$invalid">Send</button>
    </form>
</div>
