<div class="container">
    <div class="col-md-12" role="main">
        <div class="row jumbotron">
            <form class="form-inline" name="form" role="form">
                <div class="form-group" ng-class="{ 'has-error' : form.email.$invalid && form.email.$dirty, 'has-success' : form.email.$valid }">
                    <label for="email">{{ 'register_form_email_label' | translate }}</label>
                    <input name="email" type="email" class="form-control" id="email" placeholder="{{ 'register_form_email_placeholder' | translate }}" ng-model="user.email" required>
                </div>
                <button class="btn btn-success" ng-click="register(user)"
                ng-disabled="form.$invalid">{{ 'register_form_submit' | translate }}</button>
            </form>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="key-value">
                    <h3 class="glyphicon glyphicon-gift"></h3>
                    <strong>{{ 'register_bloc_1_title' | translate }}</strong>
                </div>
                <p>{{ 'register_bloc_1_body' | translate }}</p>
            </div>

            <div class="col-md-4">
                <div class="key-value">
                    <h3 class="glyphicon glyphicon-user"></h3>
                    <strong>{{ 'register_bloc_2_title' | translate }}</strong>
                </div>
                <p>{{ 'register_bloc_2_body' | translate }}</p>
            </div>

            <div class="col-md-4">
                <div class="key-value">
                    <h3 class="glyphicon glyphicon-star"></h3>
                    <strong>{{ 'register_bloc_3_title' | translate }}</strong>
                </div>
                <p>{{ 'register_bloc_3_body' | translate }}</p>
            </div>
        </div>
    </div>
</div>
